<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.adevelca.calculadora"
        versionCode = "10"
        version     = "1.0.0" >

    <plugin name="cordova-plugin-splashscreen" source="npm" version="3.2.1" />

    <!-- versionCode is optional and Android only -->

    <name>Calculadora</name>

    <description>
        Calculadora de presupuestos para freelancers
    </description>

    <author href="http://adevelca.com" email="info@adevelca.com">
        Angel Alvizu
    </author>

    <platform name="ios">
        <icon src="icon.png" width="180" height="180" />
    </platform>

    <platform name="android">
        <icon src="icon.png" width="180" height="180" />

        <splash src="splash.png" density="hdpi"/>
        <splash src="splash.png" density="ldpi"/>
        <splash src="splash.png" density="mdpi"/>
        <splash src="splash.png" density="xhdpi"/>
    </platform>

    <platform name="winphone">
        <icon src="icon.png" width="180" height="180" />
    </platform>

</widget>